/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 210mm;
    height: 297mm;
    padding-left: 50vh;
    border-color: #2c3e50;
    border-radius: 8px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #2c3e50;
}

/* Sidebar */
.sidebar {
    width: 30%;
    background-color: rgba(44, 62, 80, 0.9); 
    color: #fff;
    padding: 30px;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
}

.sidebar .photo img {
    width: 100%;
    border-radius: 50%;
    border: 4px solid #3498db; /* Add a border to the photo */
}

.sidebar h2 {
    color: #fff;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    font-size: 1.1em;
    padding-right: 5px;
    font-size: 12px;
}

.sidebar a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #2980b9;
}

.sidebar .education .date {
    color: #bdc3c7;
    font-style: italic;
}

/* Main Content */
.main-content {
    width: 70%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    background-image: url('soymbo.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.8em;
    color: #2c3e50;
}

header .tagline {
    margin: 5px 0;
    font-size: 1.2em;
    color: #2c3e50;
}

h2 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 0px;
    margin-top: 10px;
    color: #2c3e50;
    font-size: 1.8em;
}

h3 {
    margin: 15px 0 5px;
    color: #2c3e50;
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

.date {
    font-style: italic;
    color: #2c3e50;
    margin: 5px 0;
}

.job {
    margin-top: 0px;
}
